/* for theme chenge */
.dark-mode-component{
    color: white;
    background-color: #191919;
}


.light-mode-component{
    background-color: #e4e5f1;
    color: black;
}
  
.dark-mode-component .dropdown-item:hover {
    background-color: #343a40; /* Darken the item background */
    color: white; /* Change text color to white */
}

body.default-background {
    background-color: #fafafa;
    color: black;
}
  
body.dark-background {
    background-color: rgb(18,18,18);
    color: white;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
  
.main-content {
   padding-top: 60px; 
}